@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
.headerCSS {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 2rem;
  align-items: center;
}
.headerCSS > span {
  display: flex;
  align-items: center;
}

.headerCSS > span > * {
  margin: 10px;
}
