@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
.headerCSS {
  /* border: 1px solid red; */
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 40px;
}

.titleCSS {
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 30px;
}
