@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.profileCard {
  border-radius: 15px;
  color: white;
  font-family: "Inconsolata", monospace;
  display: flex;
  background-color: rgba(31, 42, 72, 255);
  padding: 1.6rem;
  flex-direction: column;
  align-items: stretch;
}
.profileCard > * {
  margin: 10px auto;
}

@media (max-width: 600px) {
  body {
    margin: 0;
  }
}
