.result {
  margin-top: 0.2rem;
  /* width: 100%; */
  height: 20rem;
  background-color: #141c2f;
  box-shadow: rgba(51, 64, 138, 0.349) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.result::-webkit-scrollbar {
  display: none;
}

.result .item {
  width: 100%;
  height: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
  font-size: 20px;
  border: rgba(31, 42, 72, 255);
}

.item p {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.item:hover {
  cursor: pointer;
}

.item {
  background-color: #141c2f;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 0;
  margin-top: 5px;
}
