* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(20, 28, 47, 255);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headDiv {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  /* height: 700px; */
  /* padding: 10px; */
}
